[
  "a",
  "c",
  "r",
  "o",
  "b",
  "a",
  "t",
  "b",
  "a",
  "c",
  "c",
  "h",
  "u",
  "s",
  "c",
  "a",
  "r",
  "a",
  "v",
  "a",
  "n",
  "d",
  "e",
  "s",
  "t",
  "i",
  "n",
  "y",
  "e",
  "a",
  "r",
  "l",
  "d",
  "o",
  "m",
  "f",
  "a",
  "c",
  "u",
  "l",
  "t",
  "y",
  "g",
  "o",
  "d",
  "d",
  "e",
  "s",
  "s",
  "h",
  "a",
  "l",
  "c",
  "y",
  "o",
  "n",
  "i",
  "m",
  "a",
  "g",
  "i",
  "n",
  "e",
  "j",
  "u",
  "s",
  "t",
  "i",
  "c",
  "e"
]